[run]
source=gaissalabel/,api/,calculadors/
omit=
    */env/*
    */migrations/*
    */test*
    */__init__.py
    */wsgi.py
    */asgi.py
    calculadors/calculator_codecarbon_adapter.py
    calculadors/efficiency_calculator.py
    api/views.py