[run]
source=gaissalabel/,api/,efficiency_calculators/
omit=
    */env/*
    */migrations/*
    */test*
    */__init__.py
    */wsgi.py
    */asgi.py
    efficiency_calculators/calculator_codecarbon_adapter.py
    efficiency_calculators/efficiency_calculator.py